[Desktop Entry]
Name=ROOT
Comment="An open-source data analysis framework used by high energy physics and others."
Exec=root-framework
Icon=${SNAP}/meta/gui/root.png
Type=Application
Terminal=true
Categories=Science;

